In [2]:
import numpy as np
import pandas as pd
import networkx as nx
import networkx

In [3]:
path = "original_data/Cooffending/Cooffending.csv"
df = pd.read_csv(path)

In [4]:
df.head(20)

,OffenderIdentifier,OffenderGender,CrimeIdentifier,CrimeType1,CrimeType2,CrimeType3,CrimeType4,Municipality,CrimeLocation,NumberYouthOffenders,NumberAdultOffenders,CrimeDate,CrimeYear
0,1,F,1085034,3530.0,NaN,NaN,NaN,58227,2.0,0,1,12/17/2005,2005
1,2,F,1431379,1430.0,NaN,NaN,NaN,94068,5.0,0,1,04/23/2008,2008
2,4,M,167174,1430.0,21702.0,NaN,NaN,49058,2.0,0,1,03/06/2008,2008
3,5,M,1179096,1420.0,NaN,NaN,NaN,65005,71.0,0,1,08/21/2008,2008
4,17,M,1270690,1625.0,NaN,NaN,NaN,23027,NaN,0,3,04/30/2003,2003
5,38,M,356360,1330.0,NaN,NaN,NaN,62802,1.0,0,1,07/28/2005,2005
6,39,M,1171604,21405.0,NaN,NaN,NaN,65005,70.0,0,1,07/16/2007,2007
7,40,M,852956,3520.0,NaN,NaN,NaN,66023,83.0,0,1,01/30/2008,2008
8,149,M,806220,1420.0,NaN,NaN,NaN,66023,21.0,0,1,11/03/2005,2005
9,231,M,778217,21405.0,NaN,NaN,NaN,66023,71.0,0,1,05/09/2007,2007
10,232,F,22585,21702.0,NaN,NaN,NaN,66097,4.0,0,2,07/10/2009,2009
11,301,F,538758,14601.0,NaN,NaN,NaN,66023,2.0,0,1,11/06/2003,2003
12,302,M,1040440,21409.0,NaN,NaN,NaN,94068,2.0,0,2,07/08/2003,2003
13,303,M,1040611,21607.0,NaN,NaN,NaN,94068,2.0,0,1,09/02/2003,2003
14,305,F,1040076,21409.0,NaN,NaN,NaN,94068,2.0,0,1,02/23/2003,2003
15,306,M,1040319,21704.0,NaN,NaN,NaN,94068,1.0,0,1,05/28/2003,2003
16,308,F,325340,1430.0,NaN,NaN,NaN,62030,1.0,0,1,08/05/2003,2003
17,309,M,898956,21201.0,NaN,NaN,NaN,58227,2.0,0,2,04/13/2003,2003
18,311,M,1040570,1640.0,NaN,NaN,NaN,94068,2.0,0,1,07/01/2003,2003
19,312,M,214128,1420.0,NaN,NaN,NaN,66023,7.0,0,1,06/13/2003,2003

In [5]:
(df["NumberYouthOffenders"] + df["NumberAdultOffenders"]).sum()

1740819

In [6]:
df2 = df[["OffenderIdentifier", "CrimeIdentifier"]]

In [7]:
df2 = df2.drop_duplicates()

In [8]:
df2.drop_duplicates("OffenderIdentifier")

         OffenderIdentifier  CrimeIdentifier
0                         1          1085034
1                         2          1431379
2                         4           167174
3                         5          1179096
4                        17          1270690
...                     ...              ...
1280454              670532          1112491
1280455              670533            78081
1280456              670534           187904
1280457              670535           523837
1280458              670536          1632652

[539593 rows x 2 columns]

In [9]:
df2.drop_duplicates("CrimeIdentifier")

         OffenderIdentifier  CrimeIdentifier
0                         1          1085034
1                         2          1431379
2                         4           167174
3                         5          1179096
4                        17          1270690
...                     ...              ...
1280450              670529            66044
1280452              670531          1029474
1280453              670531          1029475
1280454              670532          1112491
1280457              670535           523837

[1164836 rows x 2 columns]

In [10]:
df3 = df[["CrimeIdentifier", "CrimeYear"]]
df3 = df3.drop_duplicates('CrimeIdentifier')

In [11]:
df3['CrimeYear'].value_counts()

2008    199288
2007    196151
2006    185840
2009    178959
2005    172664
2004    121374
2003    110556
2010         4
Name: CrimeYear, dtype: int64

In [12]:
df4 = df
print((df4['NumberYouthOffenders'] + df4['NumberAdultOffenders']).idxmax())
print((df4['NumberYouthOffenders'] + df4['NumberAdultOffenders']).max())

43313
156

In [13]:
df4 = df4[['CrimeIdentifier', 'NumberYouthOffenders','NumberAdultOffenders']]
df4.drop_duplicates('CrimeIdentifier')

         CrimeIdentifier  NumberYouthOffenders  NumberAdultOffenders
0                1085034                     0                     1
1                1431379                     0                     1
2                 167174                     0                     1
3                1179096                     0                     1
4                1270690                     0                     3
...                  ...                   ...                   ...
1280450            66044                     0                     1
1280452          1029474                     0                     1
1280453          1029475                     0                     1
1280454          1112491                     0                     1
1280457           523837                     0                     1

[1164836 rows x 3 columns]

In [14]:
df4['#Offenders'] = df4['NumberYouthOffenders'] + df4['NumberAdultOffenders']
df4.index = df4['CrimeIdentifier']
max_idx = df4['#Offenders'].idxmax()
print(max_idx)
print(df[df['CrimeIdentifier'] == max_idx])

27849
        OffenderIdentifier OffenderGender  CrimeIdentifier  CrimeType1  \
43313                47053              M            27849     39999.0
48202                51795              M            27849     39999.0
52676                56003              M            27849     39999.0
55304                58110              M            27849     39999.0
58993                61468              M            27849     39999.0
...                    ...            ...              ...         ...
775354              450815              M            27849     39999.0
795913              460918              M            27849     39999.0
855836              489127              M            27849     39999.0
982842              541404              M            27849     39999.0
992153              544851              M            27849     39999.0

        CrimeType2  CrimeType3  CrimeType4  Municipality  CrimeLocation  \
43313          NaN         NaN         NaN         66023            9.0
48202          NaN         NaN         NaN         66023            9.0
52676          NaN         NaN         NaN         66023            9.0
55304          NaN         NaN         NaN         66023            9.0
58993          NaN         NaN         NaN         66023            9.0
...            ...         ...         ...           ...            ...
775354         NaN         NaN         NaN         66023            9.0
795913         NaN         NaN         NaN         66023            9.0
855836         NaN         NaN         NaN         66023            9.0
982842         NaN         NaN         NaN         66023            9.0
992153         NaN         NaN         NaN         66023            9.0

        NumberYouthOffenders  NumberAdultOffenders   CrimeDate  CrimeYear
43313                      0                   156  04/20/2009       2009
48202                      0                   156  04/20/2009       2009
52676                      0                   156  04/20/2009       2009
55304                      0                   156  04/20/2009       2009
58993                      0                   156  04/20/2009       2009
...                      ...                   ...         ...        ...
775354                     0                   156  04/20/2009       2009
795913                     0                   156  04/20/2009       2009
855836                     0                   156  04/20/2009       2009
982842                     0                   156  04/20/2009       2009
992153                     0                   156  04/20/2009       2009

[156 rows x 13 columns]
<ipython-input-14-89efb8f2f85c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['#Offenders'] = df4['NumberYouthOffenders'] + df4['NumberAdultOffenders']

In [15]:
crimescount_id = df['OffenderIdentifier'].value_counts()
print(crimescount_id)

300728    456
440431    358
253577    357
120976    350
373749    275
         ...
368342      1
388824      1
390875      1
378589      1
2049        1
Name: OffenderIdentifier, Length: 539593, dtype: int64

In [16]:
df2 = df[['OffenderIdentifier', 'CrimeIdentifier']]
df2 = df2.drop_duplicates()
offender_count = 0
offender_idx_dict = {}
crime_count = 0
crime_idx_dict = {}
for idx in df2.values:
    if idx[0] not in offender_idx_dict:
        offender_idx_dict[idx[0]] = offender_count
        offender_count += 1
    if idx[1] not in crime_idx_dict:
        crime_idx_dict[idx[1]] = crime_count
        crime_count += 1
df2['OffenderIdx'] = df2['OffenderIdentifier'].map(offender_idx_dict)
df2['CrimeIdx'] = df2['CrimeIdentifier'].map(crime_idx_dict)

In [17]:
from scipy.sparse import csr_matrix
row = df2['OffenderIdx'].values
col = df2['CrimeIdx'].values
vals = np.ones(row.shape[0])
crime_matrix = csr_matrix((vals, (row, col)), shape=(row.max() + 1, col.max() + 1))
cooffend_matrix = crime_matrix @ crime_matrix.T

In [18]:
cooffend_matrix[cooffend_matrix > 0] = 1
cooffend_matrix.setdiag(0)
cooffend_matrix.eliminate_zeros()

In [19]:
graph = nx.from_scipy_sparse_matrix(cooffend_matrix,create_using=nx.Graph)

In [20]:
len(graph.nodes)

539593

In [21]:
count = 0
for i in graph.degree:
    if i[1] == 0:
        count += 1
print(count)
len(list(nx.isolates(graph)))

418434

418434

In [22]:
len(graph.edges)

178413

In [23]:
graph.remove_nodes_from(list(nx.isolates(graph)))
len(graph.nodes)

121159

In [24]:
average = 0
n = len(graph.nodes)
count = 0
for idx,d in graph.degree:
    average += d/n
    if d >= 100:
        count += 1
print(average)
print(count)

2.9451051923478944
265

In [25]:
len(sorted(nx.connected_components(graph), key=len, reverse=True))

36098

In [26]:
components_list = sorted(nx.connected_components(graph), key=len, reverse=True)
len(components_list[0])

19924

In [27]:
row = df2['OffenderIdx'].values
col = df2['CrimeIdx'].values
vals = np.ones(row.shape[0])
crime_matrix = csr_matrix((vals, (row, col)), shape=(row.max() + 1, col.max() + 1))
cooffend_matrix = crime_matrix @ crime_matrix.T
cooffend_matrix[cooffend_matrix > 0] -= 1
cooffend_matrix[cooffend_matrix >= 1] = 1
cooffend_matrix.setdiag(0)
cooffend_matrix.eliminate_zeros()
graph_r = nx.from_scipy_sparse_matrix(cooffend_matrix,create_using=nx.Graph)
graph_r.remove_nodes_from(list(nx.isolates(graph_r)))

In [28]:
row = df2['OffenderIdx'].values
col = df2['CrimeIdx'].values
vals = np.ones(row.shape[0])
crime_matrix = csr_matrix((vals, (row, col)), shape=(row.max() + 1, col.max() + 1))
cooffend_matrix = crime_matrix @ crime_matrix.T
cooffend_matrix[cooffend_matrix >= 2] = 0
cooffend_matrix[cooffend_matrix > 0] = 1
cooffend_matrix.setdiag(0)
cooffend_matrix.eliminate_zeros()
graph_nr = nx.from_scipy_sparse_matrix(cooffend_matrix,create_using=nx.Graph)
graph_nr.remove_nodes_from(list(nx.isolates(graph_nr)))

In [29]:
len(graph_r.nodes)

17764

In [30]:
len(graph_nr.nodes)

113519

In [31]:
len(graph_r.edges)

15448

In [32]:
len(graph_nr.edges)

162965

In [33]:
len(sorted(nx.connected_components(graph_r), key=len, reverse=True))

6463

In [34]:
len(sorted(nx.connected_components(graph_nr), key=len, reverse=True))

35596

In [35]:
r_components_list = sorted(nx.connected_components(graph_r), key=len, reverse=True)
nr_components_list = sorted(nx.connected_components(graph_nr), key=len, reverse=True)
r_average = 0
nr_average = 0
r_n = len(sorted(nx.connected_components(graph_r), key=len, reverse=True))
nr_n = len(sorted(nx.connected_components(graph_nr), key=len, reverse=True))
for r_c in r_components_list:
    r_average += len(r_c)/r_n
for nr_c in nr_components_list:
    nr_average += len(nr_c)/nr_n
print(r_average)
print(nr_average)

2.7485687761107833
3.189094280258175

In [37]:
len(r_components_list[0])/len(graph_r.nodes)

0.0037153794190497636

In [38]:
len(nr_components_list[0])/len(graph_nr.nodes)

0.10646675886855944

In [47]:
components_list[0]

set

In [52]:
graph_largest_c = nx.subgraph(graph, components_list[0])
nx.density(graph_largest_c)

0.0003556454848657796

In [54]:
graph_r_largest_c = nx.subgraph(graph_r, r_components_list[0])
nx.density(graph_r_largest_c)

0.04568764568764569

In [55]:
graph_nr_largest_c = nx.subgraph(graph_nr, nr_components_list[0])
nx.density(graph_nr_largest_c)

0.0007231308979893168